.download-button {
    & button {
        padding: 1.25rem 2rem;
        border-radius: 0.875rem;
        background-color: #077737;
        font-size: clamp(0.75rem, 2vw, 1.25rem);
        font-weight: 600;
        letter-spacing: 0.125rem;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}
